#status_top_box {
	width: 80%;
	margin: auto;
	height: 17px;
	background-color: #27AE60;
	padding: 15px;
	border-radius: 5px;
}

h1, h3 {
	color: #D8D9D9;
}

#status {
	float: left;
	font-weight: bold;
	display: inline;
	color: white;
}

#last_updated {
	font-weight: normal;
	color: white;
	display: inline;
	float: right;
}

#overview {
	margin: 30px auto auto;
	width: 80%;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #414142;
}

.big {
	font-size: 80px;
	color: #D8D9D9;
	text-align: center;
}


.label {
	font-size: 12px;
	color: #D8D9D9;
	text-align: center;
}

#active_incidents {
	width: 30%;
	display: inline;
	float: left;

}
#active_maintenance {
	width: 30%;
	display: inline;

}
#days_since_last_incident {
	width: 30%;
	display: inline;
	float: right;
}


md-card {
	background-color: #2B2B2B;
}
